<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank sylvain
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  mon texte
  <ion-icon name="search"></ion-icon>
  <br>

  <!--  insertion bouton -->
  insertion bouton
  <ion-button color="danger" expand="full">OK</ion-button>
  <br>

  <!--  bouton avec texte et icône -->
  bouton avec texte et icône
  <ion-button color="danger">OK<ion-icon name="star"></ion-icon>
  </ion-button>
  <br>

  <!--  Bouton avec icône uniquement -->
  Bouton avec icône uniquement
  <button ion-button color="danger">
    <ion-icon name="star" slot="icon-only"></ion-icon>
  </button>
  <br>

  <!-- Liste d’éléments avec défilement -->
  Liste d’éléments avec défilement
  <ion-list>
    <ion-list-header>fruits</ion-list-header>
    <ion-item>pommes</ion-item>
    <ion-item>poires</ion-item>
  </ion-list>
  <br>

  <!-- Liste avec regroupements -->
  Liste avec regroupements
  <ion-item-group>
    <ion-item-divider>A</ion-item-divider>
    <ion-item>abricots</ion-item>
    <ion-item>ananas</ion-item>
    <ion-item-divider>B</ion-item-divider>
    <ion-item>bananes</ion-item>
    <ion-item>brugnons</ion-item>
  </ion-item-group>
  <br>

  <!-- Liste avec icône -->
  Liste avec icône
  <ion-list>
    <ion-item>
      pommes
      <ion-icon name="apple" item-right>
      </ion-icon>
    </ion-item>
  </ion-list>i
  <br>

  <!-- Liste avec image -->
  Liste avec image
  <ion-list>
    <ion-item>
      pommes
      <ion-avatar item-left>
        <img src="/assets/img/apple.png">
      </ion-avatar>
    </ion-item>
  </ion-list>
  <br>

  <!-- Liste avec image -->
  Liste avec image
  <ion-list>
    <ion-item>
      pommes
      <ion-thumbnail item-left>
        <img src="/assets/img/apple.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <br>

  <!-- Liste avec bouton -->
  Liste avec bouton
  <ion-list>
    <ion-item>
      pommes
      <button ion-button color="danger" item-right round>
        Supprimer
      </button>
    </ion-item>
  </ion-list>
  <br>

<!-- Swipe to reveal -->
Swipe to reveal
<ion-list>
  <ion-item-sliding>
  <ion-item>pommes</ion-item>
  <ion-item-options side="left">
  <button ion-button>delete</button>
  </ion-item-options>
  </ion-item-sliding>
  </ion-list>
  <br>





</ion-content>